<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the home page</h1>

  <h3><%= ["hanzla","khan","gormani"][0]  %></h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cupiditate laudantium inventore voluptate, ratione odit ipsam laboriosam natus obcaecati ullam enim magnam error ut ipsa exercitationem, odio perferendis soluta tempore, pariatur eum deserunt explicabo nihil libero! Recusandae natus quam ratione praesentium in. Officiis voluptatibus commodi ad beatae, non assumenda facilis.</p>
  <button>click me</button>
</body>
</html>