<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ROll Dice</title>
</head>
<body>
    <h1>Dice gave value:<%= num %> </h1>
    <% 
    if(num == 6){
      <h5> Nice! ROll dice again! </h5>
    }
    %>
</body>
</html>

